{% if alerts %}
{% set numAlerts = alerts | calcNumAlerts %}
    {% set currentAlert = 0 %}
    <table class="{{ config.tableClass }} alert-table" style="max-width:300px">
        {% if config.ignoreToday %}
            {% set alerts = alerts.splice(1) %}
        {% endif %}        

        {% set alerts = alerts.slice(0, numAlerts) %}
        {% for a in alerts %}
            <tr {% if config.colored %} class="colored" {%else%} class="bright" {% endif %}>

                <td class= "align-left {{a.event | alertColorCode}}" ><span>{{a.event}}</span></td>
                
                {% if config.showEndTime %}
                    {% if config.alertTimeFormat === "relative" %}
                        <td class="bright light">{{ "ends " + a.end.fromNow() | translate }}</td>
                    {% else %}
                        <td class="bright light">{{ "until " + a.end.format(config.alertDateFormat) + " at " + a.end | formatTime }}</td>
                    {% endif %}
                {% endif %}

            </tr>

            {% if config.showAlertDescription %}
                <tr>
                    <td {% if config.staticAlertDescription %} class="static-description" {%else%} {% endif %} colSpan="2">       
                        {% if not config.staticAlertDescription %} <marquee scrolldelay={{config.alertDescriptionScrollDelay}}}}> {% endif %}
                            <span>{{a.description}}</span>
                        {% if not config.alertDescription.static %} </marquee> {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% set currentAlert = currentAlert + 1 %}
        {% endfor %}
    </table>

{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `alerts` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{alerts | dump}}</div> -->
