/*
 *
 * {MMM-WeatherAlerts}
 *
 * {Gary Jones}
 * {{LICENSE}} Licensed.
 *
 *
 *
 */

.alert-table {
  table-layout: auto;
  white-space: nowrap;
  overflow: hidden;
}

.static-description {
  white-space: normal;
  padding: 5px;
  text-align: left;
}

tr.colored .tsunami-warning {
  color: #fd6347;
}

tr.colored .tornado-warning {
  color: #f00;
}

tr.colored .extreme-wind-warning {
  color: #ff8c00;
}

tr.colored .severe-thunderstorm-warning {
  color: #ffa500;
}

tr.colored .flash-flood-warning {
  color: #8b0000;
}

tr.colored .flash-flood-statement {
  color: #8b0000;
}

tr.colored .severe-weather-statement {
  color: #0ff;
}

tr.colored .shelter-in-place-warning {
  color: #fa8072;
}

tr.colored .evacuation-immediate {
  color: #7fff00;
}

tr.colored .civil-danger-warning {
  color: #ffb6c1;
}

tr.colored .nuclear-power-plant-warning {
  color: #4b0082;
}

tr.colored .radiological-hazard-warning {
  color: #4b0082;
}

tr.colored .hazardous-materials-warning {
  color: #4b0082;
}

tr.colored .fire-warning {
  color: #a0522d;
}

tr.colored .civil-emergency-message {
  color: #ffb6c1;
}

tr.colored .law-enforcement-warning {
  color: #c0c0c0;
}

tr.colored .storm-surge-warning {
  color: #b524f7;
}

tr.colored .hurricane-force-wind-warning {
  color: #cd5c5c;
}

tr.colored .hurricane-warning {
  color: #dc143c;
}

tr.colored .typhoon-warning {
  color: #dc143c;
}

tr.colored .special-marine-warning {
  color: #ffa500;
}

tr.colored .blizzard-warning {
  color: #ff4500;
}

tr.colored .snow-squall-warning {
  color: #c71585;
}

tr.colored .ice-storm-warning {
  color: #8b008b;
}

tr.colored .winter-storm-warning {
  color: #ff69b4;
}

tr.colored .high-wind-warning {
  color: #daa520;
}

tr.colored .tropical-storm-warning {
  color: #b22222;
}

tr.colored .storm-warning {
  color: #9400d3;
}

tr.colored .tsunami-advisory {
  color: #d2691e;
}

tr.colored .tsunami-watch {
  color: #f0f;
}

tr.colored .avalanche-warning {
  color: #1e90ff;
}

tr.colored .earthquake-warning {
  color: #8b4513;
}

tr.colored .volcano-warning {
  color: #2f4f4f;
}

tr.colored .ashfall-warning {
  color: #a9a9a9;
}

tr.colored .coastal-flood-warning {
  color: #228b22;
}

tr.colored .lakeshore-flood-warning {
  color: #228b22;
}

tr.colored .flood-warning {
  color: #0f0;
}

tr.colored .high-surf-warning {
  color: #228b22;
}

tr.colored .dust-storm-warning {
  color: #ffe4c4;
}

tr.colored .blowing-dust-warning {
  color: #ffe4c4;
}

tr.colored .lake-effect-snow-warning {
  color: #008b8b;
}

tr.colored .excessive-heat-warning {
  color: #c71585;
}

tr.colored .tornado-watch {
  color: #ff0;
}

tr.colored .severe-thunderstorm-watch {
  color: #db7093;
}

tr.colored .flash-flood-watch {
  color: #2e8b57;
}

tr.colored .gale-warning {
  color: #dda0dd;
}

tr.colored .flood-statement {
  color: #0f0;
}

tr.colored .wind-chill-warning {
  color: #b0c4de;
}

tr.colored .extreme-cold-warning {
  color: #00f;
}

tr.colored .hard-freeze-warning {
  color: #9400d3;
}

tr.colored .freeze-warning {
  color: #483d8b;
}

tr.colored .red-flag-warning {
  color: #ff1493;
}

tr.colored .storm-surge-watch {
  color: #db7ff7;
}

tr.colored .hurricane-watch {
  color: #f0f;
}

tr.colored .hurricane-force-wind-watch {
  color: #9932cc;
}

tr.colored .typhoon-watch {
  color: #f0f;
}

tr.colored .tropical-storm-watch {
  color: #f08080;
}

tr.colored .storm-watch {
  color: #ffe4b5;
}

tr.colored .hurricane-local-statement {
  color: #ffe4b5;
}

tr.colored .typhoon-local-statement {
  color: #ffe4b5;
}

tr.colored .tropical-storm-local-statement {
  color: #ffe4b5;
}

tr.colored .tropical-depression-local-statement {
  color: #ffe4b5;
}

tr.colored .avalanche-advisory {
  color: #cd853f;
}

tr.colored .winter-weather-advisory {
  color: #7b68ee;
}

tr.colored .wind-chill-advisory {
  color: #afeeee;
}

tr.colored .heat-advisory {
  color: #ff7f50;
}

tr.colored .urban-and-small-stream-flood-advisory {
  color: #00ff7f;
}

tr.colored .small-stream-flood-advisory {
  color: #00ff7f;
}

tr.colored .arroyo-and-small-stream-flood-advisory {
  color: #00ff7f;
}

tr.colored .flood-advisory {
  color: #00ff7f;
}

tr.colored .hydrologic-advisory {
  color: #00ff7f;
}

tr.colored .lakeshore-flood-advisory {
  color: #7cfc00;
}

tr.colored .coastal-flood-advisory {
  color: #7cfc00;
}

tr.colored .high-surf-advisory {
  color: #ba55d3;
}

tr.colored .heavy-freezing-spray-warning {
  color: #00bfff;
}

tr.colored .dense-fog-advisory {
  color: #708090;
}

tr.colored .dense-smoke-advisory {
  color: #f0e68c;
}

tr.colored .small-craft-advisory {
  color: #d8bfd8;
}

tr.colored .brisk-wind-advisory {
  color: #d8bfd8;
}

tr.colored .hazardous-seas-warning {
  color: #d8bfd8;
}

tr.colored .dust-advisory {
  color: #bdb76b;
}

tr.colored .blowing-dust-advisory {
  color: #bdb76b;
}

tr.colored .lake-wind-advisory {
  color: #d2b48c;
}

tr.colored .wind-advisory {
  color: #d2b48c;
}

tr.colored .frost-advisory {
  color: #6495ed;
}

tr.colored .ashfall-advisory {
  color: #696969;
}

tr.colored .freezing-fog-advisory {
  color: #008080;
}

tr.colored .freezing-spray-advisory {
  color: #00bfff;
}

tr.colored .low-water-advisory {
  color: #a52a2a;
}

tr.colored .local-area-emergency {
  color: #c0c0c0;
}

tr.colored .avalanche-watch {
  color: #f4a460;
}

tr.colored .blizzard-watch {
  color: #adff2f;
}

tr.colored .rip-current-statement {
  color: #40e0d0;
}

tr.colored .beach-hazards-statement {
  color: #40e0d0;
}

tr.colored .gale-watch {
  color: #ffc0cb;
}

tr.colored .winter-storm-watch {
  color: #4682b4;
}

tr.colored .hazardous-seas-watch {
  color: #483d8b;
}

tr.colored .heavy-freezing-spray-watch {
  color: #bc8f8f;
}

tr.colored .coastal-flood-watch {
  color: #66cdaa;
}

tr.colored .lakeshore-flood-watch {
  color: #66cdaa;
}

tr.colored .flood-watch {
  color: #2e8b57;
}

tr.colored .high-wind-watch {
  color: #b8860b;
}

tr.colored .excessive-heat-watch {
  color: #800000;
}

tr.colored .extreme-cold-watch {
  color: #00f;
}

tr.colored .wind-chill-watch {
  color: #5f9ea0;
}

tr.colored .lake-effect-snow-watch {
  color: #87cefa;
}

tr.colored .hard-freeze-watch {
  color: #4169e1;
}

tr.colored .freeze-watch {
  color: #0ff;
}

tr.colored .fire-weather-watch {
  color: #ffdead;
}

tr.colored .extreme-fire-danger {
  color: #e9967a;
}

tr.colored ._911-telephone-outage {
  color: #c0c0c0;
}

tr.colored .coastal-flood-statement {
  color: #6b8e23;
}

tr.colored .lakeshore-flood-statement {
  color: #6b8e23;
}

tr.colored .special-weather-statement {
  color: #ffe4b5;
}

tr.colored .marine-weather-statement {
  color: #ffdab9;
}

tr.colored .air-quality-alert {
  color: #808080;
}

tr.colored .air-stagnation-advisory {
  color: #808080;
}

tr.colored .hazardous-weather-outlook {
  color: #eee8aa;
}

tr.colored .hydrologic-outlook {
  color: #90ee90;
}

tr.colored .short-term-forecast {
  color: #98fb98;
}

tr.colored .administrative-message {
  color: #c0c0c0;
}

tr.colored .test {
  color: #f0ffff;
}

tr.colored .child-abduction-emergency {
  color: #fff;
}

tr.colored .blue-alert {
  color: #fff;
}
